{% extends 'main/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container order-items-table">
    <h1 class="mb-4">Order Items</h1>
    {% if order_items %}
        {% load custom_filters %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Menu Item</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                        <tr>
                            <td>{{ item.order.id }}</td>
                            <td>{{ item.menu_item.name }}</td>
                            <td>{{ item.get_payment_method_display }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>${{ item.price }}</td>
                            <td>
                                {% with total=item.quantity|floatformat:2|floatformat:2|multiply:item.price %}
                                ${{ total|floatformat:2 }}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No order items found.</p>
    {% endif %}
</div>

{% endblock %}