{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mehia | {% block title %}{% endblock %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/logo.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/logo/logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors2.css' %}" id="ui-theme-color">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<div class="loader_wrapper">
        <div class="loader">
			<img src="{% static 'images/loader.gif' %}" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

	<div id="wrapper">
        <header class="new-block main-header">
            <div class="main-nav new-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="{% static 'images/logo/logo.png' %}" alt="logo" class="img-responsive">
                                    </a>
                                </div>
                                <div class="location-block d-none d-lg-block">
                                    <p>Ghana</p>
                                </div>
                                <a href="#" class="nav-opener d-lg-none"><i class="fa fa-bars"></i></a>
                                <nav class="nav d-none d-lg-block">
                                    <ul class="list-unstyled d-flex mb-0">
                                        <li class="drop">
											<a href="{% url 'main:home' %}"><i class="fa-solid fa-house"></i> Home</a>
										</li>
                                        <li class="drop">
                                            <a href="#"><i class="fa-solid fa-list"></i> Category</a>
                                            <ul class="drop-down">
                                                <li><a href="#">Local Dishes</a></li>
                                                <li><a href="#">Continental Dishes</a></li>
                                            </ul>
                                        </li>
										<li class="drop">
                                            <a href="{% url 'main:menu' %}"><i class="fa-solid fa-bars"></i> Menu</a>
                                            <ul class="drop-down">
                                                <li><a href="menu.html">Jollof Rice</a></li>
                                            </ul>
                                        </li>
                                        <li>
											<a href="{% url 'main:order_items_list' %}">
												<i class="fa-solid fa-cart-flatbed cart-count">
													<span class="count">0</span>
												</i> Cart
											</a>
										</li>
										{% if user.is_authenticated %}
											<li>
												<a href="#"><i class="fa-solid fa-user"></i> My Account</a>
											</li>
										{% else %}
                                        	<li>
												<a href="{% url 'account:login' %}"><i class="fa-solid fa-user"></i> Login/Signup</a>
											</li>
										{% endif %}
									</ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div>
		{% block content %}
		{% endblock %}
	</div>

    <footer class="main-footer new-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="footer-head">
						<h3>About Us :</h3>
					</div>
					<div class="footer-content">
						<p>Donec tincidunt, augue a convallis cursus, sapien eros efficitur sem in placerat sapien est nec quam.</p>
						<a href="#" class="link">Read More</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
					<div class="our-company">
						<div class="footer-head">
							<h3>Our Company :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
					<div class="footer-head">
						<h3>Customer Care :</h3>
					</div>
					<div class="footer-content">
						<ul class="list-unstyled">
							<li><a href="#">New In</a></li>
							<li><a href="#">Pizza murgon</a></li>
							<li><a href="#">Burger king</a></li>
							<li><a href="#">Fried Chicken</a></li>
							<li><a href="#">Mocktail</a></li>
							<li><a href="#">Top Brands</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="flickr">
						<div class="footer-head">
							<h3>Get Flickr :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#"><img src="{% static 'images/Layer-12.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-13.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-14.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-15.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-16.png' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-17.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-18.jpg' %}" alt="" class="img-responsive"></a></li>
								<li><a href="#"><img src="{% static 'images/Layer-19.jpg' %}" alt="" class="img-responsive"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="copy-right">
		<div class="container">
			<p><a target="_blank" href="#">Mehia Groups of Companies</a></p>
			<ul class="social-nav">
				<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
				<li><a href="#"><i class="flaticon-twitter"></i></a></li>
				<li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
				<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
				<li><a href="#"><i class="flaticon-behance"></i></a></li>
			</ul>
		</div>
	</div>
	<span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.html' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/slick.js ' %}"></script>
	<script src="{% static 'js/dscountdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
	<script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo&callback=initMap" async defer></script> -->
</body>
</html>